.divCabecalhoArtista{
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
    margin-top: 90px;
    padding: 20px;
}

.tituloListaDeArtistas{
    align-self: center;
    text-align: center;
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
}

.botaoCriarArtista {
    align-self: center;
    text-align: center;
    color: #ffffff;
    background-color: #4AA32F;
    border-radius: 5px;
    height: 55px;
    width: 390px;   
    padding-top: 9px;
  }

.botaoCriarArtista:hover{
    height: 65px;
    padding-top: 14px;

    color: #ffffff;
    text-decoration: none;
}


/* Flexbox da Listagem */
.flexArtistas{
    margin: 0px auto;
    width: 100%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1250px;
    padding: 12px;
}

.Artista{
    height: 200px;
    font-size: medium;
    flex:1 1 250px;
    border-radius: 5px;
    border: 1px solid #9aa4b1;
    margin: 10px 10px 10px 10px;
}

.infosArtista{
    top: 0;
    padding-top: 20px;
    text-align: center;
    height: 110px;
}

.divBotoesArtista{
    height: 90px;
    top: 0px;
    justify-content: center;
    width: 100%;
    display: flex;
}

.botaoEditarArtista{
    align-self: center;
    text-align: center;
    padding-top: 15px;
    height: 55px;
    width: 80px;
    border-radius: 5px;
    color: #000000;
    background-color: #FFFB19;
}

.botaoEditarArtista:hover{

    height: 65px;
    padding-top: 20px;

    color: #000000;
    text-decoration: none;
}

.botaoExcluirArtista{
    align-self: center;
    text-align: center;
    
    margin-left: 20px;
    padding-top: 15px;
    height: 55px;
    width: 80px;
    border-radius: 5px;
    color: #000000;
    background-color: #ff1a1a;
}

.botaoExcluirArtista:hover{
    height: 65px;
    padding-top: 20px;
    
    color: #000000;
    text-decoration: none;
}