.divCabecalhoEditar{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 112px;
    padding: 0px 20px;

    display: flex;
}

.tituloDivEditar{
    color: #090431;
    margin-bottom: 0px;
}

.divEditar{
    max-width: 1250px; 
    margin: auto; 
    padding: 20px; 
}

.divEditar > form{
    border-radius: 7px; 
    padding: 20px;
    font-weight: bold;
    border: 1px solid #c5cdd3;
}

.botaoAtualizarEditar{
    text-decoration: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    
    width: 100%;
    height: 45px;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    
    text-align: center;
    color: #ffffff;
    background-color: #090431;
}

.botaoAtualizarEditar:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #12085e;
}

.botaoVoltarEditar{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

    width: 100%;
    height: 35px;
    margin-bottom: 15px;

    text-decoration: none;
    font-size: 20px;
    border-radius: 7px;

    color: #090431;
    background-color: #ffffff;
    border: 1px solid #c5cdd3;
}

.botaoVoltarEditar:hover{
    text-decoration: none;

    color: #090431;
    background-color: #c5cdd3;
}
