.sectionVisualizar{
    max-width: 1250px;
    width: 100%;
    margin: 30px auto;
    height: 500px;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
}

.divVisualizar{
    width: 100%;
    background-color: #c4cdd4;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width:900px){
    .divVisualizar{
        flex-direction: column;
    }
}
/* -------------------- */
.grupoVInformacoes{
    color: #090431;
    border-radius: 7px;
    flex: 1 1 200px;
    background-color: #ffffff;
    margin-right: 20px;
    padding: 20px;
}

.grupoVInformacoes > p{
    text-align: justify;
    line-height: 27px;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

@media only screen and (max-width:900px){
    .grupoVInformacoes{
        margin-right: 0px;
        margin-bottom: 20px; 
    }
}


/* -------------------- */
.grupoVObjetos{
    color: #090431;
    border-radius: 7px;
    flex: 1;
    flex-direction: column;
}

.grupoVObjetoArtistas{
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
}

.grupoVObjetoArtistas > ul > li{
    list-style-type: none;
    color: #2c2c2c;
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}
        
.grupoVObjetoComebacks{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
}

.grupoVObjetoComebacks > ul > li{
    font-family: 'Lora', serif;
    color: #2c2c2c;
    list-style-type: none;
    margin: 0;
    padding: 0;
}