@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; 
font-family: 'Lora', serif;
*/

body, ul, li, p{
    list-style: none;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    color: #090431;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 35px;
}

.divNavBar{
    top: 0;
    max-width: 1250px;
    width: 89%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #c4cdd4;
}

.menu{
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu a{
    align-items: center;
    text-align: center;
    display: flex;
    cursor: pointer;
    height: 45px;
    padding: 0px 10px 0 10px;
    font-size: 25px;
    color: #090431;
    border-radius: 7px;
}

.menu a:hover{
    text-decoration: none;
    align-items: center;
    color: #ffffff;
    background-color: #090431;
    transition: 0.2s;
}
/* a:link........define o estilo do link no estado inicial;
a:visited...define o estilo do link visitado;
a:hover.....define o estilo do link quando passa-se o mouse sobre ele;
a:active....define o estilo do link ativo (o que foi "clicado") */

.divVoltar{
    max-width: 1250px;
    width: 100%;
    margin: 10px auto;
    padding: 0px 22px;
}

.divVoltar > span{
    color: #566876;
    font-size: 15px;
}

.botaoVoltar{
    color: #566876;
    font-size: 15px;
    text-decoration: none;
    text-decoration: underline;
}

.botaoVoltar:hover{
    color: #090431;
}


/* 160a76
12085e
c4cdd4
566876
090431 */