.divCabecalhoListar{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;

    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:650px){
    .divCabecalhoListar{
        margin-bottom: 10px;
        flex-direction: column;
    }
}

.tituloListaDeListar{
    color: #090431;
    margin-bottom: 0px;
}

.botaoCriarListar{
    height: 45px;
    width: 226px;   
    padding-top: 7px;

    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #090431;
}

.botaoCriarListar:hover{
    background-color: #12085e;
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (max-width:650px){
    .tituloListaDeListar{
        margin: auto;
    }
    .botaoCriarListar{
        margin: 23px auto 0px;
    }
}


/* Flexbox da Listagem */
.flexListar{
    margin: 0px auto;
    width: 100%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1250px;
    padding: 10px;    
}

.divListar{
    height: 140px;
    border: 1px solid #c4cdd4;
    flex:1 1 200px;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
}

.infosListar{
    top: 0;
    height: 75%;
    padding-top: 30px;

    font-size: 20px;
    text-align: center;
    color: #090431;
}

.botaoListar{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoVisualizarListar{
    width: 100%;
    height: auto;
    padding-top: 6px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    text-align: center;
    color: #090431;
    background-color: #c4cdd4;
}

.botaoVisualizarListar:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}