.divBotoesVisualizar{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    
    display: flex;
    justify-content: right;
}

.botoesVisualizar{
    width: auto;
    height: auto;

    display: flex;
}

.opcaoEditarVisualizar{
    width: 226px; 
    height: 45px;
    padding-top: 7px;
    margin-right: 20px;

    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #090431;
    border: 1px solid #090431;
}

.opcaoEditarVisualizar:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #090431;
}

.opcaoExcluirVisualizar{
    width: 226px;
    height: 45px;
    padding-top: 7px;

    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #ff0000;
}

.opcaoExcluirVisualizar:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #e60000;
}

@media only screen and (max-width:800px){

    .divBotoesVisualizar{
        justify-content: center;
        align-items: center;
    }

    .botoesVisualizar{
        margin-top: 20px;
        flex-direction: column;

    }
    .opcaoEditarVisualizar{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}


/* -------------------- */
.sectionVisualizar{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 10px 20px;

    display: flex;
    flex-wrap: wrap;
}

.divVisualizar{
    width: 100%;
    padding: 1px;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

    border-radius: 7px;
    background-color: #c4cdd4;
}

@media only screen and (max-width:800px){
    .divVisualizar{
        flex-direction: column;
    }
}


/* -------------------- */
.grupoInformacoesVisualizar{
    flex: 1 1 200px;
    border-radius: 7px;
    padding: 20px;

    color: #090431;
    background-color: #ffffff;
}

.grupoInformacoesVisualizar > p{
    height: auto;
    text-align: justify;
    line-height: 27px;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.informacoesVisualizar{
    flex: 3;
    margin-right: 1px;
    padding: 20px;
    
    border-radius: 7px;
    color: #090431;
    background-color: #ffffff;
}

.informacoesVisualizar > div:last-child {
    margin-top: 20px;
}

.informacoesVisualizar > div:last-child > span{
    margin-right: 40px;

    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.informacoesVisualizar > div > a{
    display: inline-block;
    width: 226px; 
    height: 45px;
    padding-top: 8px;
    margin-right: 20px;
    margin-left: 5px;

    text-align: center;
    font-family: 'Lora', serif;
    border-radius: 7px;
    color: #090431;
    border:1px solid #090431;
}

.informacoesVisualizar > div > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #090431;
}

@media only screen and (max-width:800px){

    .informacoesVisualizar{
        margin-right: 0px;
    }

    .informacoesVisualizar > div > a{
        display: block;
        margin: 0 0 15px 0;
    }

    .informacoesVisualizar > div:last-child{
        margin-top: 0px;
    }

    .informacoesVisualizar > div:last-child > span{
        margin-right: 0;
        display: block;
        margin-bottom: 15px;
    }

    .informacoesVisualizar > div:last-child > span:last-child{
        margin-bottom: 0px;
    }
}

.spanDataDebut{
    font-family: 'Lora', serif;
    color: #2c2c2c;
}


/* -------------------- */
.grupoVisualizarObjetos{    
    margin-left: 1px;
    flex: 1;
    flex-direction: column;

    border-radius: 7px;
    color: #090431;
}

.grupoVisualizarObjetoArtistas{
    flex: 1;
    margin-bottom: 1px;
    padding: 20px;
    border-radius: 7px;

    background-color: #ffffff;
}
        
.grupoVisualizarObjetoComebacks{
    width: 100%;
    border-radius: 7px;
    padding: 20px;

    background-color: #ffffff;
}

.gridObjetosGrupo{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.gridObjetosGrupo > a{
    padding: 10px 10px 0px;
    padding-bottom: 10px;
    
    text-align: center;
    font-family: 'Lora', serif;
    border-radius: 7px;
    color: #090431;
    background-color: #c4cdd4;
}

.gridObjetosGrupo > a:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}

.botaoAdicionar{
    display: block;
    width: 226px;
    margin: auto;
    padding-top: 7px;
    margin-top: 30px;
    height: 45px;

    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: #090431;
    border: 1px solid #090431;
}

.botaoAdicionar:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}

@media only screen and (max-width:800px){
    .grupoInformacoesVisualizar{
        margin-bottom: 1px; 
    }

    .grupoVisualizarObjetos{    
        margin-left: 0px;
    }
}