.divCabecalhoArtista{
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.tituloListaDeArtistas{
    align-self: center;
    text-align: center;
    font-size: 45px;
}

.botaoCriarArtista {
    align-self: center;
    text-align: center;
    height: 45px;
    width: 290px;   
    padding-top: 3px;
    font-size: 25px;
    color: #ffffff;
    background-color: #4AA32F;
    border-radius: 7px;
  }

.botaoCriarArtista:hover{
    background-color: #3f8a28;
    color: #ffffff;
    text-decoration: none;
}


/* Flexbox da Listagem */
.flexArtistas{
    margin: 0px auto;
    width: 100%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1250px;
    padding: 12px;
}

.Artista{
    height: 200px;
    background-color: #f3f2f2;
    border-bottom: 1px solid #dde2e6;
    font-size: medium;
    flex:1 1 250px;
    border-radius: 7px;
    /* border: 1px solid #e2e6e9; */
    margin: 10px 10px 10px 10px;
}

.infosArtista{
    top: 0;
    padding-top: 20px;
    text-align: center;
    height: 120px;
}

.divBotoesArtista{
    height: 80px;
    top: 0px;
    justify-content: center;
    width: 100%;
    display: flex;
    /* font-size: 16px; */
}

.botaoEditarArtista{
    align-self: center;
    text-align: center;
    padding: 10px 15px 0 15px;
    height: 45px;
    border-radius: 7px;
    color: #000000;
    border: 1px solid #c5cdd3;
    /* background-color: #e2e6e9; */
}

.botaoEditarArtista:hover{
    color: #000000;
    background-color: #c5cdd3;
    text-decoration: none;
}

.botaoExcluirArtista{
    align-self: center;
    text-align: center;
    margin-left: 20px;
    height: 45px;
    padding: 10px 15px 0 15px;
    border-radius: 7px;
    color: #000000;
    border: 1px solid #ff1a1a;
    /* background-color: #ff1a1a; */
}

.botaoExcluirArtista:hover{    
    color: #ffffff;
    background-color: #e60000;
    text-decoration: none;
}