.divCabecalhoGrupos{
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
    padding: 20px;
}

@media only screen and (max-width:500px){
    .divCabecalhoGrupos{
        flex-direction: column;
    }
}

.tituloListaDeGrupos{
    color: #090431;
    align-self: center;
    text-align: center;
}

.botaoCriarGrupo {
    align-self: center;
    text-align: center;
    height: 45px;
    width: 230px;   
    padding-top: 7px;
    font-size: 20px;
    color: #ffffff;
    background-color: #090431;
    border-radius: 7px;
}

.botaoCriarGrupo:hover{
    background-color: #12085e;
    color: #ffffff;
    text-decoration: none;
}

@media only screen and (max-width:500px){
    .tituloListaDeGrupos{
        margin: auto;
    }
    .botaoCriarGrupo{
        margin-top: 20px;
    }
}


/* Flexbox da Listagem */
.flexGrupos{
    margin: 0px auto;
    width: 100%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1250px;
    padding: 12px;    
}

.divGrupo{
    height: 180px;
    border: 1px solid #c4cdd4;
    flex:1 1 200px;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
}

.infosGrupo{
    color: #090431;
    top: 0;
    padding-top: 30px;
    text-align: center;
    height: 80%;
}

.botaoGrupo{
    height: 20%;
    top: 0px;
    justify-content: center;
    width: 100%;
    display: flex;
}

.botaoVisualizarGrupo{
    text-align: center;
    width: 100%;
    padding-top: 6px;
    height: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #090431;
    background-color: #c4cdd4;
}

.botaoVisualizarGrupo:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}