.sectionVComeback{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 50px 22px;
    display: flex;
    flex-wrap: wrap;
}

/* .botaoEditarVComeback{
    text-align: center;
    width: 100%;
    padding-top: 3px;
    height: 45px;
    font-size: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #ffffff;
    background-color: #ff2200;
}

.botaoEditarVComeback:hover{
    color: #ffffff;
    background-color: #cc1b00;
    text-decoration: none;
} */

.divVComeback{
    width: 100%;
    background-color: #c4cdd4;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:700px){
    .divVComeback{
        flex-direction: column;
        margin-right: 0;
    }
}

.comebackVInformacoes{
    flex: 3;
    margin-right: 10px;
    color: #090431;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 20px;
}

.comebackVInformacoes > div > span{
    margin-right: 40px;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.comebackVInformacoes > div > a{
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    font-family: 'Lora', serif;
    color: #090431;
    border:1px solid #c4cdd4;
    /* background-color: #c4cdd4; */
    text-align: center;
    text-decoration: none;
    margin: 0 40px 0 5px;
}

.comebackVInformacoes > div > a:hover{
    color: #ffffff;
    background-color: #ff2200;
    text-decoration: none;
}

@media only screen and (max-width:700px){

    .comebackVInformacoes{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .comebackVInformacoes > div > span{
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }

    .comebackVInformacoes > div > a{
        display: block;
        margin: 0 0 20px 0;
    }
}

.comebackVOpcoes{
    color: #090431;
    border-radius: 7px;
    flex: 1;
    background-color: #ffffff;
}

.divVBotoesComeback{
    margin: 60px auto;
    padding: 0 15% 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
}

.opcoesVEditarComeback{
    border-radius: 7px;
    padding-top: 4px;
    height: 45px;
    font-size: 25px;
    background-color: #c4cdd4;
    color: #000000;
    margin-bottom: 40px;
}
.opcoesVEditarComeback:hover{
    color: #000000;
    text-decoration: none;
    background-color: #a6b4bf;
}

.opcoesVExcluirComeback{
    border-radius: 7px;
    padding-top: 4px;
    height: 45px;
    font-size: 25px;
    color: #ffffff;
    background-color: #ff1a1a;
}
.opcoesVExcluirComeback:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #e60000;
}