.divVBotoesGrupo{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    
    display: flex;
    justify-content: right;
}

.botoesGrupo{
    width: auto;
    height: auto;
    display: flex;
}

.opcoesVEditarGrupo{
    width: 226px; 
    height: 45px;
    padding-top: 7px;
    margin-right: 20px;

    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #090431;
    border: 1px solid #090431;
}
.opcoesVEditarGrupo:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #090431;
}

.opcoesVExcluirGrupo{
    width: 226px;
    border-radius: 7px;
    padding-top: 7px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0000;
}
.opcoesVExcluirGrupo:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #e60000;
}

@media only screen and (max-width:650px){

    .divVBotoesGrupo{
        justify-content: center;
        align-items: center;
    }

    .botoesGrupo{
        margin-top: 20px;
        flex-direction: column;

    }
    .opcoesVEditarGrupo{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
/* -------------------- */
.sectionVGrupo{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}

.divVGrupo{
    width: 100%;
    background-color: #c4cdd4;
    border-radius: 7px;
    padding: 1px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:700px){
    .divVGrupo{
        flex-direction: column;
    }
}


/* -------------------- */
.grupoVInformacoes{
    color: #090431;
    border-radius: 7px;
    flex: 1 1 200px;
    background-color: #ffffff;
    margin-right: 1px;
    padding: 20px;
}

.spanDataDebut{
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.grupoVInformacoes > p{
    text-align: justify;
    line-height: 27px;
    height: auto;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

@media only screen and (max-width:700px){
    .grupoVInformacoes{
        margin-right: 0px;
        margin-bottom: 1px; 
    }
}


/* -------------------- */
.grupoVObjetos{
    color: #090431;
    border-radius: 7px;
    flex: 1;
    flex-direction: column;
}

.grupoVObjetoArtistas{
    flex: 1;
    margin-bottom: 1px;
    padding: 20px;
    border-radius: 7px;

    background-color: #ffffff;
}
        
.grupoVObjetoComebacks{
    width: 100%;
    border-radius: 7px;
    padding: 20px;

    background-color: #ffffff;
}

.gridObjetos{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.gridObjetos > a{
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-align: center;
    font-family: 'Lora', serif;
    border-radius: 7px;
    color: #090431;
    background-color: #c4cdd4;
}

.gridObjetos > a:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}

.botaoAdicionar{
    display: block;
    width: 226px;
    margin: auto;
    padding-top: 7px;
    margin-top: 30px;
    height: 45px;

    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    color: #090431;
    border: 1px solid #090431;
}

.botaoAdicionar:hover{
    color: #ffffff;
    background-color: #090431;
    text-decoration: none;
}