.divExcluir{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 22px;
}

.divExcluir > h1{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 50px;
}

.divBotoesExcluir{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    
    display: flex;
    justify-content: center;
}

.botoesExcluir{
    width: auto;
    height: auto;
    display: flex;
}

.botaoEExcluir{
    border: 0 none;
    
    width: 226px; 
    height: 45px;
    margin-right: 20px;

    font-size: 20px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #ff0000;
}

.botaoEExcluir:hover{    
    color: #ffffff;
    background-color: #e60000;
    text-decoration: none;
}

.botaoECancelar{
    border: 1px solid black;
    border: 0 none;

    width: 226px;
    height: 45px;

    font-size: 20px;
    border-radius: 7px;

    color: #090431;
    background-color: #ffffff;
    border: 1px solid #c5cdd3;
}

.botaoECancelar:hover{    
    text-decoration: none;

    color: #090431;
    background-color: #c5cdd3;
}

@media only screen and (max-width:650px){

    .divBotoesExcluir{
        justify-content: center;
        align-items: center;
    }

    .botoesExcluir{
        flex-direction: column;

    }
    .botaoEExcluir{
        display: inline-block;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}