.divBotaoCriarComeback{
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
    margin-top: 90px;
    padding: 20px;
}

.tituloListaDeComebacks{
    align-self: center;
    text-align: center;
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
}

.botaoCriarComeback {
    align-self: center;
    text-align: center;
    color: #ffffff;
    background-color: #4AA32F;
    border-radius: 7px;
    height: 55px;
    width: 390px;   
    padding-top: 9px;
}

.botaoCriarComeback:hover{
    background-color: #4AA32F;
    color: #ffffff;
    text-decoration: none;
}

/* Flexbox da Listagem */
.flexComebacks{
    margin: 0px auto;
    width: 100%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1250px;
    padding: 10px;
}

.flexComebacks > div{
    height: 150px;
    font-size: medium;
    cursor: pointer;
    flex:1 1 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #9aa4b1;
    padding-bottom: 20px;
    padding-top: 45px;
    margin: 10px 10px 10px 10px;
}

.flexComebacks > div:hover{
    background-color: #4AA32F;
    transition: 0.3s;
    color: #ffffff;
}