.sectionVGrupo{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 50px 22px;
    display: flex;
    flex-wrap: wrap;
}

.botaoEditarVGrupo{
    text-align: center;
    width: 100%;
    padding-top: 3px;
    height: 45px;
    font-size: 25px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #ff2200;
}

.botaoEditarVGrupo:hover{
    color: #ffffff;
    background-color: #cc1b00;
    text-decoration: none;
}

.divVGrupo{
    width: 100%;
    background-color: #c4cdd4;
    border-radius: 7px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:900px){
    .divVGrupo{
        flex-direction: column;
    }
}


/* -------------------- */
.grupoVInformacoes{
    color: #090431;
    border-radius: 7px;
    flex: 1 1 200px;
    background-color: #ffffff;
    margin-right: 5px;
    padding: 20px;
}

.spanDataDebut{
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.grupoVInformacoes > p{
    text-align: justify;
    line-height: 27px;
    height: auto;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

@media only screen and (max-width:900px){
    .grupoVInformacoes{
        margin-right: 0px;
        margin-bottom: 5px; 
    }
}


/* -------------------- */
.grupoVObjetos{
    color: #090431;
    border-radius: 7px;
    flex: 1;
    flex-direction: column;
}

.grupoVObjetoArtistas{
    flex: 1;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
}
        
.grupoVObjetoComebacks{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
}

.gridObjetos{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

.gridObjetos > a{
    border-radius: 7px;
    padding-top: 8px;
    height: 40px;
    font-weight: bold;
    font-family: 'Lora', serif;
    color: #090431;
    background-color: #c4cdd4;
    text-align: center;
}

.gridObjetos > a:hover{
    color: #ffffff;
    background-color: #6b8394;
    text-decoration: none;
}

.botaoAdicionar{
    display: block;
    border-radius: 7px;
    text-align: center;
    height: 45px;
    color: #000000;
    border: 1px solid #ff2200;
    text-decoration: none;
    width: 1fr;
    padding-top: 3px;
    margin-top: 30px;
    font-size: 25px;
}

.botaoAdicionar:hover{
    color: #ffffff;
    background-color: #ff2200;
    text-decoration: none;
}