.tituloListaDeArtistas{
    text-align: center;
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}


/* Flexbox da Listagem */
.flexArtistas{
    margin: 0 auto;
    width: 80%; /* Valor da Largura */
    display:flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.flexArtistas > div{
    cursor: pointer;
    background-color: #cccbcb;
    flex:1 1 270px;
    text-align: center;
    padding-bottom: 20px;
    margin: 10px 10px 10px 10px;
}