.divVBotoesComeback{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0px 20px;
    
    display: flex;
    justify-content: right;
}

.botoesComeback{
    width: auto;
    height: auto;
    display: flex;
}

.opcoesVEditarComeback{
    width: 226px; 
    height: 45px;
    padding-top: 7px;
    margin-right: 20px;
    
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #090431;
    border: 1px solid #090431;
}
.opcoesVEditarComeback:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: #090431;
}

.opcoesVExcluirComeback{
    width: 226px; 
    height: 45px;
    padding-top: 7px;

    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #ff0000;
}
.opcoesVExcluirComeback:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #e60000;
}

@media only screen and (max-width:800px){

    .botoesComeback{
        margin-top: 20px;
        flex-direction: column;
    }

    .divVBotoesComeback{
        justify-content: center;
        align-items: center;
    }

    .opcoesVEditarComeback{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}


/* -------------------- */
.sectionVComeback{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
}

.divVComeback{
    width: 100%;
    padding: 1px;

    display: flex;
    flex-wrap: wrap;

    border-radius: 7px;
    background-color: #c4cdd4;
}

@media only screen and (max-width:800px){
    .divVComeback{
        flex-direction: column;
        margin-right: 0;
    }
}

.comebackVInformacoes{
    flex: 3;
    margin-right: 1px;
    padding: 20px;

    border-radius: 7px;
    color: #090431;
    background-color: #ffffff;
}

.comebackVInformacoes > div:last-child {
    margin-top: 20px;
}

.comebackVInformacoes > div:last-child > span{
    margin-right: 40px;
    font-family: 'Lora', serif;
    color: #2c2c2c;
}

.comebackVInformacoes > div > a{
    display: inline-block;
    width: 226px; 
    height: 45px;
    padding-top: 8px;
    margin-right: 20px;
    margin-left: 5px;

    text-align: center;
    font-family: 'Lora', serif;
    border-radius: 7px;
    color: #090431;
    border:1px solid #090431;
}

.comebackVInformacoes > div > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #090431;
}

@media only screen and (max-width:800px){

    .comebackVInformacoes{
        margin-right: 0px;
    }

    .comebackVInformacoes > div > a{
        display: block;
        margin: 0 0 15px 0;
    }

    .comebackVInformacoes > div:last-child{
        margin-top: 0px;
    }

    .comebackVInformacoes > div:last-child > span{
        margin-right: 0;
        display: block;
        margin-bottom: 15px;
    }

    .comebackVInformacoes > div:last-child > span:last-child{
        margin-bottom: 0px;
    }
}