<!DOCTYPE html> 

{% load static %}

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Usando booststrap na pasta static-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleBase.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleListaDeGrupos.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleListaDeArtistas.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleListaDeComebacks.css' %}">

    <!--Título da página que o base.html será usado-->
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    <!--Navbar das páginas-->
    <header>
        <nav class = "divNavBar">
            <ul class="menu">
                <li><a href="/grupos">Grupos</a></li>
                <li><a href="/artistas">Artistas</a></li>
                <li><a href="/comebacks">Comebacks</a></li>
            </ul>
        </nav>
    </header>
    
    
    <!--Parte da página do base.html que mudará, dependendo de onde for chamado chamado-->
    {% block content %}
    {% endblock content %}
    <!--Fim do html que o base.html foi chamado-->

    <!-- <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script> --> 
</body>
</html>