{% extends 'base.html' %}

{% block title %} Criar Comeback {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<li class="divVoltar"><a class="botaoVoltar" href="/grupos">Lista de Grupos</a>
                      <span> > </span>
                      <a class="botaoVoltar" href="/visualizarGrupo/{{ comeback.grupo.id }}"> {{ comeback.grupo.nome }} </a>
</li>

<div class="divCabecalhoCriar">
    <h1 class="tituloDivCriar"><strong>Criar Comeback</strong></h1>
</div>

<div class="divCriar">
    <form action="" method="post"> 
        
        {% csrf_token %}

        {{ form|crispy }}
      
        <input type="submit" class="botaoAtualizarCriar" value="Criar">
        <input type='button' class="botaoVoltarCriar" value='Voltar' onclick='history.go(-1)' />  
    </form>
</div>

{% endblock content %}