  <!--Importando o Arquivo base.html-->
{% extends 'base.html' %}

{% block title %} Criar Grupo {% endblock title %}

{% load crispy_forms_tags %}

<!--Html que será acoplado ao base.html, resultando na página criarGrupos.html-->
{% block content %}
<!--Início do html próprio de criarGrupos.html-->

<div style="max-width: 1250px; margin: auto; padding: 20px; ">
    <h1 style="margin-top: 20px; font-size: 45px;"><strong>Criar Grupo</strong></h1>
    <form style="border-radius: 7px; padding: 20px 15px 0px 15px;background-color: #f3f2f2; margin-top: 50px; " action="" method="post"> {% csrf_token %}

        {{ form|crispy }}
    
        <input type="submit" class="btn btn-block btn-outline-success btn-lg" value="Enviar">
        <input type="reset"  class="btn btn-block btn-outline-dark"  value="Limpar">   
    </form>
</div>

<!--Fim do html de criarGrupos.html-->
{% endblock content %}