{% extends 'base.html' %}

{% block title %} Editar - {{ artista.nome }} {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="divEditarArtista">
    <h1 class="tituloDivEditarArtista"><strong> Editar Artista - {{ artista.nome }} </strong></h1>
    <form action="" method="post"> 
        
        {% csrf_token %}

        {{ form|crispy }}
      
        <input type="submit" class="botaoAtualizarEditarArtista" value="Atualizar">
        <input type='button' class="botaoVoltarEditarArtista" value='Voltar' onclick='history.go(-1)' />
    </form>
</div>

{% endblock content %}