{% extends 'base.html' %}

{% block title %} Editar - {{ grupo.nome }} {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="divEditar">
    <h1 class="tituloDivEditar"><strong> Editar Grupo - {{ grupo.nome }} </strong></h1>
    <form action="" method="post"> 
        
        {% csrf_token %}

        {{ form|crispy }}
      
        <input type="submit" class="botaoAtualizarEditar" value="Atualizar">
        <input type='button' class="botaoVoltarEditar" value='Voltar' onclick='history.go(-1)' />
    </form>
</div>

{% endblock content %}