{% extends 'base.html' %}

{% block title %} Excluir - {{ grupo.nome }} {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<section class="sectionExcluir">
    <h1><strong> Tem Certeza que deseja Excluir {{ grupo.nome }} ?</strong></h1>
    <p>Isso apagará todos os artistas e comebacks relacionados a esse grupo</p>
    
    <form action="" method="post"> 

        {% csrf_token %}

        <div class="divBotoesExcluir">
            <div class="botoesExcluir">
                <input type="submit" class="botaoEExcluir" value="Sim">
                <input type='button' class="botaoECancelar" value='Cancelar' onclick='history.go(-1)' />
            </div>
        </div>
    </form>
</section>

{% endblock content %}