<!--Importando o Arquivo base.html-->
{% extends 'base.html' %}

<!--Título da página-->
{% block title %} Lista de Grupos {% endblock title %}

<!--Html que será acoplado ao base.html, resultando na página listaDeGrupos-->
{% block content %}

<!--Início do html próprio de listaDeGrupos.html-->

<div class="divVoltar"></div>

<div class="divCabecalhoListar">
    <h1 class="tituloListaDeListar"><strong>Grupos</strong></h1>
    <a class="botaoCriarListar" href="/criarGrupo">Criar Grupo</a>
</div>

<section class="flexListar">

    {% for grupo in grupos %}

    <div class ="divListar">
        <div class="infosListar">
                <strong> {{ grupo.nome}} </strong>
            </div>

            <div class="botaoListar">
                <a class="botaoVisualizarListar" href="/visualizarGrupo/{{ grupo.id }}">Visualizar</a>
            </div>
        </div>
        
    {% endfor %}

</section>
<!--Fim do html de listaDeGrupos.html-->
{% endblock content %}