{% extends 'base.html' %}

{% block content %}

<div class="divCabecalhoArtista">
    <h1 class="tituloListaDeArtistas"><strong>Lista de Artistas</strong></h1>
    <a class="botaoCriarArtista" href="/criarArtista">Criar Artista</a>
</div>

<section class="flexArtistas">

    {% for artista in artistas %}

        <div class ="Artista">
            <div class="infosArtista">
                <h1><strong> {{ artista.nome }} </strong></h1>

                {{ artista.grupo }}
            </div>
            
            <div class="divBotoesArtista">
                <a class="botaoEditarArtista" href="#">Editar</a>
                <a class="botaoExcluirArtista" href="#">Excluir</a>
            </div>
        </div>
    {% endfor %}

</section>

{% endblock content %}