{% extends 'base.html' %}

{% block content %}

<div class="divBotaoCriarComeback">
    <h1 class="tituloListaDeComebacks"><strong>Lista de Comebacks</strong></h1>
    <a class="botaoCriarComeback" href="/criarComeback">Criar Comeback</a>
</div>

<section class="flexComebacks">

    {% for comeback in comebacks %}
    
        <div class="Comeback">
            <div class="infosComeback">
                <h1><strong> {{ comeback.nome }} </strong></h1>

                {{ comeback.grupo }}
            </div>
                
            <div class="divBotoesComeback">
                <a class="botaoEditarComeback" href="#">Editar</a>
                <a class="botaoExcluirComeback"href="#">Excluir</a>
            </div>
        </div>

    {% endfor %}

</section>

{% endblock content %}