<!--Importando o Arquivo base.html-->
{% extends 'base.html' %}

<!--Html que será acoplado ao base.html, resultando na página listaDeGrupos-->
{% block content %}

<!--Início do html próprio de listaDeGrupos.html-->

<div class="divBotaoCriarGrupo">
    <h1 class="tituloListaDeGrupos"><strong>Lista de Grupos</strong></h1>
    <a class="botaoCriarGrupo" href="/criarGrupo">Criar Grupo</a>
</div>

<section class="flexGrupos">

    {% for grupo in grupos %}

        <div>
            <h2><strong> {{ grupo.nome}} </strong></h2>
        </div>

    {% endfor %}

</section>
<!--Fim do html de listaDeGrupos.html-->
{% endblock content %}