{% extends 'base.html' %}

{% block content %}

<div class="divBotaoCriarComeback">
    <h1 class="tituloListaDeComebacks"><strong>Lista de Comebacks</strong></h1>
    <a class="botaoCriarComeback" href="/criarComeback">Criar Comeback</a>
</div>

<section class="flexComebacks">

    {% for comeback in comebacks %}
    
        <div>
            <h2><strong> {{ comeback.nome }} </strong></h2>

            {{ comeback.grupo }}
        </div>   

    {% endfor %}

</section>

{% endblock content %}