{% extends 'base.html' %}

{% block content %}

<div class="divVoltar"></div>

<div class="divCabecalhoListar">
    <h1 class="tituloListaDeListar"><strong>Artistas</strong></h1>
</div>

<section class="flexListar">

    {% for artista in artistas %}

        <div class ="divListar">
            <div class="infosListar">
                <strong> {{ artista.nome }} </strong>
                <br>
                {{ artista.grupo }}
            </div>
            
            <div class="botaoListar">
                <a class="botaoVisualizarListar" href="/visualizarArtista/{{ artista.id }}">Visualizar</a>
            </div>
        </div>
        
    {% endfor %}

</section>

{% endblock content %}