{% extends 'base.html' %}

{% block title %} {{ grupo.nome }} {% endblock title %}

{% block content %}

<section class="sectionVGrupo">   
    <a class="botaoEditarVGrupo" href="/editarGrupo/{{ grupo.id }}">Editar</a>
    <div class="divViGrupo">
        <div class="grupoVInformacoes">
            <h1><strong> {{ grupo.nome}} </strong></h1><br>
            <strong> Nome do Debut:</strong> <span class="spanDataDebut">{{ grupo.debut }} </span><br><br>
            <strong> Resumo:</strong><p> {{ grupo.resumo }}</p>
        </div>

        <div class="grupoVObjetos">
            <div class="grupoVObjetoArtistas">
                <h1><strong>Artistas</strong></h1><br>
                <div class="gridObjetos">

                    {% for artista in grupo.artista_set.all %}

                        <a href="#"> {{ artista.nome }} </a>
                    
                    {% endfor %}

                </div>  
            </div>
            
            <div class="grupoVObjetoComebacks">
                <h1><strong>Músicas</strong></h1><br>
                <div class="gridObjetos">   

                    {% for comeback in grupo.comeback_set.all %}

                        <a href="#"> {{ comeback.nome }} </a>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}


<!-- <h1><strong>Artistas</strong></h1>
                <ul>
                     Artistas
                    {% for artista in grupo.artista_set.all %}
                        <li> {{ artista.nome }} </li>
                    {% endfor %}
                </ul> -->